@keyframes mooveHand {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.3);
    }
}

@keyframes mooveHandMobile {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes textPlayerAnimation {
    0%{
        transform: scale(0);
        backface-visibility: hidden;
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes roundEnd {
    0%{
        width: 500px;
    }
    100%{
        width: 800px;
    }
}

.animationRoundEnd{
    animation: 1s roundEnd forwards;
}

@media (max-width: 1000px){
    .animationRoundEnd{
        animation: none;
    }
}

@keyframes winAnimation{
    0%{
        transform: scale(1.3);
        box-shadow: 
        inset 0 10px 0 rgba(187, 191, 216, .5),
        0 0 0 60px rgba(255,255,255, .06),    
        0 0 0 125px rgba(255,255,255, .04),
        0 0 0 200px rgba(255,255,255, .02);
    }
    100%{
        transform: scale(1.3);
        box-shadow: 
        inset 0 10px 0 rgba(187, 191, 216, .5),
        0 0 0 70px rgba(255,255,255, .08),    
        0 0 0 135px rgba(255,255,255, .06),
        0 0 0 210px rgba(255,255,255, .04);
    }
}
// 0%{
//     transform: scale(1.3);
//     box-shadow: 
//     inset 0 10px 0 rgba(187, 191, 216, .5),
//     0 0 0 60px rgba(255,255,255, .06),    
//     0 0 0 125px rgba(255,255,255, .04),
//     0 0 0 200px rgba(255,255,255, .02);
// }
// 100%{
//     transform: scale(1.3);
//     box-shadow: 
//     inset 0 10px 0 rgba(187, 191, 216, .5),
//     0 0 0 70px rgba(255,255,255, .08),    
//     0 0 0 135px rgba(255,255,255, .06),
//     0 0 0 210px rgba(255,255,255, .04);
// }

@keyframes winAnimationMobile{
    0%{
        box-shadow: 
        inset 0 10px 0 rgba(187, 191, 216, .5),
        0 0 0 60px rgba(255,255,255, .06),    
        0 0 0 125px rgba(255,255,255, .04),
        0 0 0 200px rgba(255,255,255, .02);
    }
    100%{
        box-shadow: 
        inset 0 10px 0 rgba(187, 191, 216, .5),
        0 0 0 70px rgba(255,255,255, .08),    
        0 0 0 135px rgba(255,255,255, .06),
        0 0 0 210px rgba(255,255,255, .04);
    }
}


.animatedWin{
    animation: winAnimation 0.5s infinite alternate;
}

@media (max-width: 1000px){
    .animatedWin{
        animation: winAnimationMobile 0.5s infinite alternate;
    } 
}

@keyframes popWinAnimation {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}