*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

ul{
    list-style: none;
}

html{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

body{
    overflow: hidden;
}