// PAPER HAND
.paper-hand{
    @include handGlobal(hsl(230, 89%, 62%),#2945c2);
}

// SCISSORS HAND
.scissors-hand{
    @include handGlobal(hsl(39, 89%, 49%),#c66d19);
}

// ROCK HAND
.rock-hand{
    @include handGlobal(hsl(349, 71%, 52%),#9c1631);
}

//  LIZARD HAND
.lizard-hand{
    @include handGlobal(hsl(261, 73%, 60%),#6038ab);
}

// SPOCK HAND
.spock-hand{
    @include handGlobal(hsl(189, 59%, 53%),#2a8daa);
}

// ARENE
#fight-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 500px;
    @media (max-width: 1000px){
        height: 0;
        width: 400px;
        justify-content: space-around;
    }
}

// HAND PICK BY PLAYER
.handPlayPlayer{
    animation: mooveHand 1s forwards;
    @media (max-width: 1000px) {
        animation: mooveHandMobile 1s forwards
    }
    &::after{
        content: "you picked";
        opacity: 0;
        animation: 0.5s textPlayerAnimation 0.7s ease-in forwards;
        position: absolute;
        top: -65px;
        letter-spacing: 2px;
        @media (max-width: 1000px){
            top: unset;
            bottom: -65px;
            font-size: 0.7rem;
        }
    }
}

.handPlayBot{
    animation: 0.5s mooveHand forwards;
    @media (max-width: 1000px) {
        animation: mooveHandMobile 0.5s forwards
    }
    &::after{
        content: "the house picked";
        white-space: nowrap;
        opacity: 0;
        animation: 0.5s textPlayerAnimation 0.7s ease-in forwards;
        position: absolute;
        top: -65px;
        letter-spacing: 2px;
        @media (max-width: 1000px){
            top: unset;
            bottom: -65px;
            font-size: 0.7rem;
        }
    }
}

// PLACE HOLDER PICK BOT
.botPlaceHolder{
    height: 225px;
    width: 225px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    @media (max-width: 1000px) {
        height: 110px;
        width: 110px;
    }
}

// POP WIN OR LOOSE
.popupWinOrLoose{
    width: 220px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: popWinAnimation 0.7s forwards;
    @media(max-width: 1000px){
        animation: none;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    span{
        white-space: nowrap;
        font-size: 3.6rem;
    }
    button{
        cursor: pointer;
        padding: 15px;
        border-radius: 8px;
        border: none;
        background-color: white;
        color:  hsl(349, 71%, 52%);
        font-weight: bold;
        letter-spacing: 1px;
        width: 100%;
        transition: 0.8s;
        &:hover{
            transition: 0.5s;
            background-color: hsl(349, 71%, 52%);
            color: white;
        }
    }
}


