@mixin handGlobal ($borderColor,$shadowColor){
    position: relative;
    box-sizing: unset;
    height: 155px ;
    width: 155px ;
    @media(max-width: 1000px){
        height: 100px ;
        width: 100px ;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white; 
    z-index: 999;
    transition: transform 0.5s;
    box-shadow: 
    inset 0 10px 0 rgba(187, 191, 216, .5),
    0 10px 0 $shadowColor;
    border: 22px solid $borderColor;
    @media (max-width: 1000px) {
        border: 14px solid $borderColor;
        box-shadow: 
        inset 0 5px 0 rgba(187, 191, 216, .5),
        0 5px 0 $shadowColor;
    }
    img{ 
        width: 43%;
    }
}

@mixin lizardSpock ($borderColor,$shadowColor){
    position: relative;
    box-sizing: unset;
    height: 118px ;
    width: 118px ;
    @media(max-width: 1000px){
        height: 80px ;
        width: 80px ;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white; 
    z-index: 999;
    transition: transform 0.5s;
    box-shadow: 
    inset 0 8px 0 rgba(187, 191, 216, .5),
    0 8px 0 $shadowColor;
    border: 18px solid $borderColor;
    @media (max-width: 1000px) {
        border: 10px solid $borderColor;
        box-shadow: 
        inset 0 5px 0 rgba(187, 191, 216, .5),
        0 5px 0 $shadowColor;
    }
    img{ 
        width: 43%;
    }
}


